.conteneur {
    display: grid;
    grid-gap: 10px;
}

.box {
  height: 150px;
  border: solid gold;
  display: flex;
 align-items: center;
 justify-content: center;
}

.une {
    grid-column: 1 / 4;
}

.deux {
    grid-row: 2 / 4;
    padding: 83px;
}

.cinq {
  grid-column: 2 / 4;
}

.six {
  grid-column : 1 / 3
}

.huit {
  grid-column: 1 / 4;
}